apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
data:
  DB_URL: {{ .Values.env.DB_URL }}
  DB_USER: {{ .Values.env.DB_USER }}