apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}
  labels:
    app: {{ .Release.Name }}
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
    argocd.argoproj.io/hook: PreSync
type: Generic
data:
  username: {{ .Values.env.DB_USER | b64enc | quote }}
  password: {{ .Values.applicationSecret.password | b64enc | quote }}
  DB_PASSWORD: {{ .Values.applicationSecret.password | b64enc | quote }}