apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}
  annotations:
    argocd.argoproj.io/sync-wave: "0"
spec:
  type: NodePort
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.port }}
      nodePort: 30000
      protocol: TCP
  selector:
    app: {{ .Release.Name }}