logging:
#  file:
#    name: "./logs/bank-app.log"
  structured:
    format:
      file: gelf
  pattern:
    console: "%d - %highlight(%level) [%thread] --- %logger{30} -> %class{60} -> %green(%method) : %msg%n"
  level:
    root: warn
    com.luiz.devops: info
    #org.hibernate.sql: trace
    #org.hibernate.orm.jdbc.bind: trace
spring:
  output:
    ansi:
      enabled: always
  web:
    resources:
      add-mappings: false
  application:
    name: "Banking-app"
    version: 1.0.4
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    open-in-view: true
    hibernate:
      ddl-auto: ${DB_DDL_AUTO}
  profiles:
    active: dev
